@font-face {
  font-family: "Norse";
  src: url("Norse-Bold.woff2") format("woff2"),
    url("Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --light-text-color: white;
}

body {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./imgs/background.jpg");
  background-size: 100% 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--light-text-color);
  margin: 12rem 0 0 0;
}

.banner > .logo {
  width: 7rem;
}

.banner > p {
  font-family: "Norse";
  font-size: 7rem;
}

.photo-attribute {
  color: var(--light-text-color);
  text-align: center;
}

.photo-attribute > a {
  color: var(--light-text-color);
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(245, 245, 245);
  flex: 1 1 auto;
}

.inspire-text,
button,
.login-text {
  margin-left: 5%;
}

.inspire-text {
  width: 40rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

form {
  display: grid;
  background: var(--light-text-color);
  padding: 3rem 0 3rem 5%;
  grid-template-areas:
    "title title"
    "first last"
    "email phone"
    "password confirm";
}

form > h2 {
  grid-area: title;
}

button[type="submit"] {
  margin-top: 3rem;
  width: fit-content;
  padding: 0.5rem;
}

.login-text {
  margin-top: 1rem;
}
