* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-section {
  background: green;
  height: 100%;
  width: 40%;
  flex: 1 1 auto;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background: #000;
  color: white;
  margin: 12rem 0 0 0;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(190, 190, 190);
  width: 60%;
  flex: 1 1 auto;
}

.inspire-text,
button,
.login-text {
  margin-left: 5%;
}

.inspire-text {
  width: 40rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

form {
  display: grid;
  background: white;
  padding: 3rem 0 3rem 5%;
  grid-template-areas:
    "title title"
    "first last"
    "email phone"
    "password confirm";
}

form > h2 {
  grid-area: title;
}

button[type="submit"] {
  margin-top: 3rem;
  width: fit-content;
  padding: 0.5rem;
}

.login-text {
  margin-top: 1rem;
}
